<div class="header clearfix container">
  <nav>
    <ul class="nav nav-pills float-right">
      <% if user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link"><%= current_user.username %></a>
        </li>
        <li class="nav-item">
          <%= link_to "Edit Account", edit_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Log Out", destroy_user_session_path, method: :delete,  class: 'nav-link'  %>
            
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log In", new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
            
        </li>
      <% end %>
    </ul>
  </nav>
  <h3 class="text-muted"><a href="/">Alfood Food Reviews</a></h3>
</div>