<div class="row">
<div class="col-md-6">
	<%= image_tag(@post.image.url(:large)) if @post.image? %></div>
<div class="col-md-6">

		<h4><%= @post.title %></h4>
		<br>
		<p><%= @post.body %></p>
		<br>
		<% if user_signed_in? %>
		<%= link_to "Edit A Review!", edit_post_path(@post), class: 'btn btn-success' %>
    	<%= link_to "Delete A Review", post_path(@post), method: :delete, data: {confirm: "Are You Sure?"}, class: 'btn btn-danger' %>
    	<% end %>

		<br>
		<%= link_to "Back to Reviews", root_path, class: 'btn btn-primary' %>
</div>
</div>

