<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Foody | Food Reviews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css' %>

    <%= stylesheet_link_tag 'https://v4-alpha.getbootstrap.com/examples/narrow-jumbotron/narrow-jumbotron.css' %>
    
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>
  	<div class="container">
  	    <% if flash.any? %>
          <% flash.each do |name, msg|  %>
            <div class="alert alert-<%= name %>">
              <%= msg %>
            </div>
          <% end %>
          
       <% end %>
      <%= yield %>
      <br>
      <footer class="footer">
        <p>&copy; Foody 2017 </p>
      </footer>
    </div>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.1.1.slim.min.js' %>

    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js' %>

    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js' %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
