<!DOCTYPE html>
<html>
  <head>
    <title>Alfood | Alfred Food Reviews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>
  	<div class="container">
  	    <% if flash.any? %>
          <% flash.each do |name, msg|  %>
            <div class="alert alert-<%= name %>">
              <%= msg %>
            </div>
          <% end %>
          
       <% end %>
    <%= yield %>
    </div>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js' %>

    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js' %>

    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
